<!DOCTYPE html>
<html>
<head>
  <title>SLTestSite</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
<%= link_to "Home", "/" %>
<%= link_to "Settings", "/home/settings" %>
<%= link_to "Autosearch", "/home/autosearch" %>
<%= link_to "Redirect", "/home/redirect" %>
</div>

<%= yield %>

<div>
  <%= session[:locale] %>
</div>

</body>
</html>
